@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#login-form-container{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containercenter{
    width: 400px;
}

.body{
    background-color: rgb(159, 241, 255);



}
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:0; 
    margin:0;

    background-size:cover;
    background-position: center;
}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }





a {
    color:#0000FF;
    text-decoration:none; 
}
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
    
    
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

BODY{
  margin:0;
  padding:0;
  background-color:#D0FCF6 ;
}@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#login-form-container{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containercenter{
    width: 400px;
}

.body{
    background-color: rgb(159, 241, 255);



}
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:0; 
    margin:0;

    background-size:cover;
    background-position: center;
}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }





a {
    color:#0000FF;
    text-decoration:none; 
}
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
    
    
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

BODY{
  margin:0;
  padding:0;
  background-color:#D0FCF6 ;
}