@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url(../TIPOGRAFIA/Simplicity.ttf);

*{
    border: 0px red solid;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

  }


.barra{
    background-color: black;
    height: 75px;
    width: 100%;
    display: block;
}

.barra img{
    width: 75px;
    margin-left: 1.8%;
    
}

.der img{
    float: right;
    width: 35px;
    margin-right: 3%;
    margin-top: 3.8%;
}

.izq img{
    width: 35px;
    margin-top: 2.8%;
    float: left;
    margin-right: 2%;
}

#bandera{
    width: 20px;
    margin-top: 4.8%;
}



.tex1{
    vertical-align: middle;
    float: left;
    margin-top: 5%;
    font-weight: bold;

}

.izq{
    float: left;
    height: 100%;
    width: 35%;
    color: white;
    margin-left:10%;
}
.der{
    float: right;
    height: 100%;
    width: 35%;
    margin-right: 10%;
    
}

.barra2{
    background-color: #ffffff;
    border-bottom: 1px grey solid;
    width: 100%;
    height:100%;
}
.menu{
    width: 100%;
    height: 100%;

}

.menu ul{
    display: flex;
    margin-left: 6%;
}

.menu ul li{
    display: inline;
    margin-left: 3%;
    
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}
.menu ul li a:hover{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    border-bottom:#0083bd 3px solid;
}

.carrito{
    border: 0px red solid;
    float: right;
    height: 100%;
    width: auto;
    margin-left: 57.3%;
}
.carrito img{
    width: 20px;
}

section {
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: #f9f9fa;
}

.foto{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
 
}
.foto img{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 15px black solid;
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
}
  
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    
    
  }

  .sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
  }

  .Nombre{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .linea{
    border: 1px black solid;
    width: 150px;
    margin-left:28% ;
    margin-top: 1%;
    margin-bottom: 3%;
    
  }

  .carrusel{
    border: 0px red solid;
  }
  .carrusel2{
    border: 0px red solid;
  }

  h4 h2 small a{
    padding: 0;
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  .carousel{
    width: 100%;
    margin: 0px 0px;
  }

.carrusel-list{
    position: relatice;
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}

.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
  
.carrusel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left ;
    box-sizing: border-box;
    display: flex;
    height: 100%;

}

.carousel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: black;
    padding: 10px;
    margin-top: 0px;
    font-family: "Arial";
    
}
.carousel h4 small{
    font-size: 15px;
    display: block;
}
.carrusel a img{
    object-fit: cover;
    height: 300px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;

}

.carrusel-arrow{
    border-radius: 30px;
    height: 48px;
    background-color: grey;
    position: absolute;
    z-index: 4;
    width: 48px;
    text-align: center;
    border-bottom: 1px black solid;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
    
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(255, 255, 255, 1);

}

.carrusel-prev{
    left: 0px;
}

.carrusel-next{
    right: 0px ;
}


.carrusel a img:hover{
    width: 100%;
    height: 100%;
   
}
.carrusel-arrow svg:hover{
    width: 12px;
    height: 100%;
    color: rgb(14, 14, 14);
    margin-top: 2px;
}

.der img:hover{
    float: right;
    width: 50px;
    margin-right: 3%;
    margin-top: 2%;
}

.carrito img:hover{
    width: 25px;
}

.marco{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    padding: 0%;
    margin: 0px;
}

.Marcas{
    display: flex;
    border: 1px solid red;
}

.marca{

    background-color: #f9f9fa;
    height: 200px;
    width: 80%;
    border: 0px solid red;
    margin-bottom: 5%;
    margin-right: 1%;
}

.marca:hover{
    border: 1px solid black;
}

.marca a{
    display: flex;
    float: left;
    background-color: white;
    height: 200px;
    width: 205px;
    margin-bottom: 5%;
    margin-left: 3%;
}
.carrusel-arrow:hover{
    border-radius: 30px;
    height: 48px;
    background-color: grey;
    position: absolute;
    z-index: 4;
    width: 48px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 0px;
    cursor: pointer;
}

.zona{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Enlinea{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: #f9f9fa;
}
.Marcasynom{
    height: 30%;
    width: 20%;
    display: block;
}
.fotomarca{
    height: 80%;
    width: 100%;
    
    
}
.textomarca{
    height: 20%;
    width: 100%;
    border: 0px black solid;
    display: flex;
    justify-content: center;
}
.fotomarca a {
    text-decoration: none;
    border: 0px black solid;
    justify-content: center;
    color:#0083bd;
}
.fotomarca a img{
    width: 100%;
    height: 100%;
    
}

.fotomarca a img:hover{
    text-decoration: none;
    border:#0083bd 3px solid;
    justify-content: center;
    
}
.textomarca:hover{
    text-decoration: none;
    border-bottom:#0083bd 3px solid;
    justify-content: center;
    color: black;
}
.info{
    border-top: 1px solid grey;
    background-color:  #f9f9fa;
    width: 100%;
    height: auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dentroinfo{
    display: block;
    border: 0px solid red;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pago img{
    width: 200px;
    
} 
.derechos{
    display: flex;
    width: 100%;
}

.fotoprincipal{
    width: 100%;
    height: 20%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.fotologo{
    border: 0px solid red;
    width:auto ; 
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.fotologo img{
    width: 200px;
}

.Zapatillas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.recuadro{
    width: 95%;
    height: 95%;
    border: 0px solid red;
}
.Fila1{
    width: 100%;
    height: 40%;
    margin-top: 4%;
    display: flex;
    border: 0px solid red;
}
.Fila2{
    width: 100%;
    height: 40%;
    margin-top: 4%;
    display: flex;
    border: 0px solid red;
}


.textozapa{
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    border: 0px solid red;
}
.contenido1{
    width: 50%;
    height: auto;
    border: 0px solid red;
}
.fotozapa img{
    width: 100%;
}
.precio{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
.contenido1:hover{
    border: 1px solid black;
}
.lugar{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    text-align: center  ;
}
.marcolugar{
    width: 100%;
    height: 100%;
    text-align: center;
}
.interior{
    display: block;
    width: 100%;
}
.textolugar{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: center ;
}
.interior img{
    width: 50%;
}

h4{
    font-size: 25px;
}
.interior img:hover{
    width: 51%;
    border: black 1px solid;
}

.derechos p a{
    color: white;
  }