@media(min-width:768px){
    .carousel{
        margin: 0px 0px;
    }

    .carrusel{
        width: 275px;
    }
    .carrusel a img{
        width: 250px;
    }

    
}


@media (max-width:1200px) {
    .carrito{
        border: 0px red solid;
        float: right;
        height: 100%;
        width: auto;
        margin-left:45%;
    }
}

@media (max-width:1300px){
    .linea{
        display: none;
    }
    .Nombre{
        margin-bottom: 4%;
    }
    
  
}

